# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [39]:
data = pd.read_csv('ratings.csv',usecols=['movieId','rating'])
data_1 = data[data.rating==5.0]
data_1['movieId'].value_counts().head(1)

318    48762
Name: movieId, dtype: int64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [79]:
data_pow = pd.read_csv(r'C:\Users\pm\Desktop\YroVebinars\Python_6_pandas_basics\power.csv')

In [93]:
data_pow_filtred = data_pow[((data_pow.year >= 2005) & (data_pow.year <= 2010)) & ((data_pow.country == 'Latvia') | (data_pow.country == 'Lithuania') | (data_pow.country == 'Estonia')) & ((data_pow.category == 4) |  (data_pow.category == 12) | (data_pow.category == 21)) & (data_pow.quantity >=0)]
sum(data_pow_filtred['quantity'])

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [34]:
pd.read_html('https://mospolytech.ru/index.php?id=5352#100503')[7]

,0,1,2,3,4,5
0,Очная форма обучения,Очная форма обучения,Очно-заочная форма обучения,Очно-заочная форма обучения,Заочная форма обучения,Заочная форма обучения
1,Бюджет,Платное,Бюджет,Платное,Бюджет,Платное
2,22,8,-,-,-,-