# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [56]:
movies_rating = pd.read_csv('ratings.csv')
movies_rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [22]:
def level(a):
    if (a >= 0) & (a <= 2):
        return 'низкий рейтинг'
    elif (a > 2) & (a <= 4):
        return 'средний рейтинг'
    elif (a > 4) & (a <= 5):
        return 'высокий рейтинг'
    return 'данные не валидны'

In [57]:
movies_rating['class'] = movies_rating['rating'].apply(level)
movies_rating.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток в geo_data.
Результат классификации запишите в отдельный столбец region.

In [46]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [19]:
geo_df = pd.read_csv('keywords.csv')
geo_df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [51]:
def region(link):
    for key in geo_data:
        for town in geo_data[key]:
            if town in link.lower():
                return key
    return 'undefined'

In [53]:
geo_df['region'] = geo_df['keyword'].apply(region)
geo_df.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined

# Задание 3
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

In [59]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

1. В переменную years запишите список из всех годов с 1950 по 2010.

In [72]:
years = list(range(1950, 2011))

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

2.1. для каждой строки пройдите по всем годам списка years

2.2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска

2.3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

In [77]:
def production_year(a):
    for year in years:
        if str(year) in a:
            return year
    return '1900'

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

In [81]:
movies['year'] = movies['title'].apply(production_year)
movies.tail()

,movieId,title,genres,year
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [90]:
movies_movies_rating = movies.merge(movies_rating)
def group(dataframe):
    return dataframe.rating.mean()

movies_movies_rating.groupby('year').apply(group).sort_values(ascending = False)

year
1957    4.014241
1972    4.011136
1952    4.000000
1954    3.994220
1951    3.983539
1974    3.978704
1962    3.952446
1950    3.915254
1977    3.905786
1964    3.841492
1959    3.841033
1958    3.823171
1975    3.823077
1969    3.817376
1967    3.814516
1960    3.809211
1976    3.806794
1973    3.806667
1979    3.777966
1981    3.758763
1953    3.754587
1955    3.751724
1971    3.748830
1968    3.737844
1966    3.736726
1980    3.708816
1963    3.705966
1970    3.700000
1965    3.678715
1961    3.663851
          ...
1982    3.638306
1991    3.628265
1956    3.617647
1987    3.606015
1900    3.602960
1985    3.588998
1988    3.552990
1978    3.549003
2007    3.548538
1994    3.537963
2010    3.537157
1993    3.536664
1989    3.534349
1986    3.528265
2009    3.520378
2006    3.511478
2008    3.498057
2004    3.491490
1998    3.472754
1995    3.472118
1999    3.471692
1992    3.466754
2001    3.460052
2002    3.456297
1990    3.449169
2005    3.448434
2003    3.444777
1996    3.426600
1997    3.415764
2000    3.356104
Length: 62, dtype: float64